
<!DOCTYPE html>
<html>
<head>
    <title>Mandelbrot Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Mandelbrot Fractal Viewer</h1>
    <div id="items">
        <div class="controls">
            <div id="fractal-controls">
                <div class="form-group">
                    <label for="xmin">X Min:</label>
                    <input type="text" id="xmin" value="-2.0">
                </div>
                <div class="form-group">
                    <label for="xmax">X Max:</label>
                    <input type="text" id="xmax" value="1.0">
                </div>
                <div class="form-group">
                    <label for="ymin">Y Min:</label>
                    <input type="text" id="ymin" value="-1.5">
                </div>
                <div class="form-group">
                    <label for="ymax">Y Max:</label>
                    <input type="text" id="ymax" value="1.5">
                </div>
                <div class="form-group">
                    <label for="red">R:</label>
                    <input type="number" id="red" value=0.88 min="0" max="800">
                </div>
                <div class="form-group">
                    <label for="green">G:</label>
                    <input type="text" id="green" value=0.37 min="0" max="800">
                </div>
                <div class="form-group">
                    <label for="blue">B:</label>
                    <input type="text" id="blue" value=0.26 min="0" max="800">
                </div>
                
                
                

                <div id="button-set">
                    <button id="generate">Generate</button>
                    <button id="zoomin">Zoom In</button>
                    <button id="zoomout">Zoom Out</button>
                </div>
            </div>
        </div>
        <div id="image">
            <img id="fractal-img" src="/mandelbrot" alt="Mandelbrot">
        </div>
    </div>
    <script src="script.js"></script>
    </body>
    </html>

